<div
<div id="search"></div>

  id="search-wrapper"
  class="fixed inset-0 z-50 flex flex-col p-4 sm:p-6 md:p-[10vh] lg:p-[12vh] w-screen h-screen cursor-default bg-neutral-500/50 backdrop-blur-sm dark:bg-neutral-900/50 invisible"
  data-url="{{ .Site.BaseURL }}"
>
<div
  id="search-modal"
  class="flex flex-col w-full max-w-3xl min-h-0 mx-auto border rounded-md shadow-lg border-neutral-200 top-20 bg-neutral dark:bg-neutral-800 dark:border-neutral-700"
>
  <header class="relative z-10 flex items-center justify-between flex-none px-2">
    
    <form class="flex items-center flex-auto min-w-0">
      <div class="flex items-center justify-center w-8 h-8 text-neutral-400">
        {{ partial "icon.html" "search" }}
      </div>
    </header>
  </div>
</div>
